.css-3d-text {
    font-size: 72px;
    color: #0a4d31;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-shadow: 0px 0px 0 rgb(-38,29,1),
                 -1px 1px 0 rgb(-86,-19,0),
                 -2px 2px 0 rgb(-135,-68,0),
                 -3px 3px 0 rgb(-183,-116,0),
                 -4px 4px 0 rgb(-231,-164,0),
                 -5px 5px  0 rgb(-279,-212,0),
                 -6px 6px 5px rgba(0,0,0,0.7),
                 -6px 6px 1px rgba(0,0,0,0.5),
                 0px 0px 5px rgba(0,0,0,.2);
 }

 .css-normal-text{
    background: #1625FA;
    background: linear-gradient(to right, #1625FA 0%, #2424FF 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
    font-size: 52px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    text-align: center;
    
 }

 #menu {
   overflow-y: scroll;
   width:200px;
   background: #FFFFFF;
   float:left;
   height: 100%;  
   
   }